<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <form action="/login" method="post">
        <% if (error) { %>
         <small><%= error %></small>
        <% } %>

        <input name="email" type="text" placeholder="Email" required>
        <input name="password" type="text" placeholder="Password" required>
        <button type="submit">Submit</button>
        
    </form>

    <h2>Registered Users:</h2>
    <ul>
        <% db.forEach(user => { %>
            <li>
                 <%= user.username %>, 
                 <%= user.email %>, 
                 <%= user.password %>
            </li>
        <% }) %>
    </ul>
</body>
</html>
